!.gitkeep
local-dev.json
tmp*
# **/.vscode

# Coverage Reports
coverage/**

# OS metadata
**/.DS_Store

# Ignore built es6 files
dist/**/*

## ignore sqllite
*.sqlite3

*.aes
*.env

newrelic_agent.log
npm-debug.log
config/local.*

# \"!**/.*\" ."